@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* used same stylesheet framework as partners */
body,
html 
{
  height: 100%;
  font-size: 50px; 
  font-family: 'Permanent Marker', cursive;
  margin: 0em;
  color: white; 
  box-sizing: border-box;
}


h1 
{
  font-size: 1.25em;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  text-decoration: none;
}

p 
{
  font-size: .5em;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* base structure for non-title slides */
.flex-column 
{
  display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
  background-color: red;
  border-radius: 100px;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%; 
  bottom: 10%;
  overflow: scroll;
}

/* base structure for buttons in footer */
.flex-row
{
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center; 
}

.button
{
    border: none;
    color: black;
    background-color: yellow;
    border-radius: 2em;            
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: .5em;
    margin: 4px 2px;
    cursor: pointer;
    width: 33%
}

/* specific CSS for the title page */
.startPage 
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background-image: url('https://kelvpfb.github.io/haring-images/radiantbaby.jpg');
  /* art citation: https://www.haring.com/!/art-work/773 */
  background-size: cover;
  color: red;
  text-transform: uppercase;
}

/* specific CSS for the first slide */
.bioPage
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background-image: url('https://kelvpfb.github.io/haring-images/retrospect.jpg');
  /* art citation: https://www.haring.com/!/art-work/821 */
  color: red;
  text-transform: uppercase;
}

/* specific CSS for the second slide */
.historyPage
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background-image: url('https://kelvpfb.github.io/haring-images/ignorancefear.jpg');
  /* art citation: https://www.haring.com/!/art-work/253 */
  background-size: cover;
  text-transform: uppercase;
}

/* determine format and animation for the popup on the home page */
.popup 
{
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popup:target 
{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup .content 
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: white;
  background-color: black;
  animation: 1s grow ease forwards;
  text-align: center;
}

.popup p 
{
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

@keyframes grow 
{
    100% 
    {
        height: 90%;
        width: 90%;
    }
}

/* create the collapsible sections on the first slide */
input[type='checkbox'] 
{ 
  display: none; 
} 

.a-toggle 
{ 
  display: flex; 
  cursor: pointer;  
  transition: all 0.25s ease-out; 
}

.a-toggle::before 
{ 
  content: ' '; 
  display: flex; 
  vertical-align: middle;
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 

.toggle:checked+.a-toggle::before 
{ 
  transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content 
{ 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .25s ease-in-out; 
} 

.toggle:checked + .a-toggle + .collapsible-content 
{ 
  max-height: 200px; 
} 

.collapsible-content .content-inner 
{ 
  background: rgba(0, 0, 255, .2); 
} 

.collapsible-content p 
{ 
  margin-bottom: 0; 
}
