@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

/* general document formatting */
body 
{
	background: #dfe49b;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 
{
    font-family: 'Bebas Neue', cursive;
    color: #264e2c;
    font-size: 64px;
    margin-bottom: 0;
}

p 
{
    font-family: 'Poppins', sans-serif;
    color: #55761a;
    font-size: 24px;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

/* layout for button and input fields in top row */
input
{
    border-radius: 5px;
    color: #264e2c;
    background-color: #f6f7cd;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border: none;
}

#task
{
    min-width: 70%;
    margin-left: 5px;
    margin-right: 5px;
}

#doBy
{
    min-width: 10%;
}

#enter 
{
    min-width: 5%;
	border-radius: 5px;
	color: #f6f7cd;
	background-color: #264e2c;
    transition: all 0.75s ease;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

#enter:hover
{
    background-color: #55761a;
}

/* layout/visuals for buttons in second row and "save" */
.filter
{
    min-width: 20%;
	border-radius: 5px;
	color: #f6f7cd;
	background-color: #264e2c;
    transition: all 0.75s ease;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    padding: 5px;
}

.filter:hover
{
    background-color: #55761a;
}

/* layout/visuals for list items */
ul 
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
    margin-top: 2%;
    margin-right: 5%;
}

li 
{
	list-style: none;
	padding: 10px 20px;
    color: #55761a;
    font-family: 'Poppins', sans-serif;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
    background: #f6f7cd;
    transition: all 0.5s ease;
    min-width: 100%;
    word-wrap: break-word;
}

li:hover 
{
	background: #dfe49b;
}

li > button 
{
	background: none;
	border: none;
    float: right;
    color: #025f70;
    font-size: 16px;
}

/* toggled on and off by clicking the items */
.done 
{
	background: #9db33e;
	color: #264e2c;
}

/* media query adjusting layout of buttons, inputs, and outputs */
@media screen and (max-width: 800px) 
{
    .filter
    {
        min-width: 35%;
    }

    .row
    {
        flex-wrap: wrap;
    }

    #doBy
    {
        min-width: 70%;
    }

    #enter
    {
        min-width: 70%;
    }

    #task
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    ul
    {
        max-width: 70%;
    }
}
