@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body,
html 
{
  height: 100%;
  font-size: 20px; 
  font-family: 'Courier Prime', monospace;
  text-align: center;
  margin: .2em;
  color: white; 
  box-sizing: border-box;
  background-image: url('kelvpfb.github.io/bbl/code.jpg');
  background-size: cover;
}

p
{
  font-size: 1em;
}

h1
{
  font-size: 2em;
}

.header
{
  text-shadow: 4px 4px green, 0px 0px 25px yellow;
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  overflow: scroll;
}

.frame
{
  height: 350px;
}

.footer
{
  position: fixed;
  bottom: 0;
}
